.App {
  font-family: "Arial", sans-serif;
  color: #333;
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background: url(./assets/images/cover-bois.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  object-fit: cover;
}
