.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #fffbe7;
  margin: 0 auto;
  border-radius: 8px;
  background-image: url("../assets/images/cover-bois2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.header .login-button {
  padding: 0.5rem;
  margin-top: 1rem;
  margin-left: 15rem;
  border-radius: 8px;
}

@media (min-width: 1024px) {
  .header {
    flex-direction: row;
    justify-content: center;
    gap: 10rem;
  }
}

.HeaderSearch-bar {
  display: flex;
  justify-content: center;
  width: 50%;
  margin-bottom: 1rem;
}

.HeaderSearch-bar input {
  flex-grow: 1;
  padding: 10px;
  margin-right: 5px;
  border-radius: 8px;
}

.HeaderSearch-bar button {
  padding: 10px 15px;
}

.login-card {
  color: #fff;
  text-transform: uppercase;
  padding: 30px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 2rem;
}

.login-field {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  width: 100%;
}

.login-field h2 {
  margin: 1rem auto;
  text-shadow:
    -2px -2px 0 #000,
    2px -2px 0 #000,
    -2px 2px 0 #000,
    2px 2px 0 #000;
}

.login-field label {
  width: 100px;
  text-align: center;
  font-size: 0.75rem;
  margin-right: 10px;
  text-shadow:
    -2px -2px 0 #000,
    2px -2px 0 #000,
    -2px 2px 0 #000,
    2px 2px 0 #000;
}

.login-field input {
  flex-grow: 1;
  padding: 5px;
  margin-right: 10px;
  border-radius: 8px;
}

.login-field button {
  padding: 5px 10px;
}

.header-text .header-title {
  text-align: center;
  margin-top: 20px;
  font-size: 1rem;
  color: #fff;
  font-family: var(--title-font);
}

Header p {
  font-family: var(--lorem-font);
  color: #fff;
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 5rem;
  width: 50rem;
  text-shadow:
    -2px -2px 0 #000,
    2px -2px 0 #000,
    -2px 2px 0 #000,
    2px 2px 0 #000;
}

@media (min-width: 1024px) {
  .header-text .header-title {
    text-align: center;
    margin-top: 20px;
    font-size: 3rem;
    background: linear-gradient(
      90deg,
      rgb(255, 255, 255) 0%,
      rgba(155, 100, 50, 1) 40%,
      rgb(56, 35, 14) 60%,
      rgb(253, 253, 253) 100%
    );
    background-size: 300%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation:
      wave 5s linear infinite,
      fade 5s linear infinite,
      burn-effect 5s linear infinite;
    text-shadow:
      0 0 5px rgba(255, 150, 0, 0.6),
      0 0 10px rgba(255, 100, 0, 0.4),
      0 0 15px rgba(255, 80, 0, 0.8);
  }

  @keyframes wave {
    0% {
      background-position: 100%;
    }
    50% {
      background-position: 0%;
    }
    70% {
      background-position: 50%;
    }
    100% {
      background-position: 100%;
    }
  }

  @keyframes fade {
    0%,
    100% {
      opacity: 1;
    }
    70% {
      opacity: 0.5;
    }
    100% {
      opacity: 1;
    }
  }

  @keyframes burn-effect {
    0% {
      text-shadow:
        0 0 5px rgba(255, 150, 0, 0.6),
        0 0 10px rgba(255, 100, 0, 0.4),
        0 0 15px rgba(255, 80, 0, 0.8);
      filter: brightness(1);
    }
    50% {
      text-shadow:
        0 0 10px rgba(255, 200, 0, 1),
        0 0 20px rgba(255, 150, 0, 0.9),
        0 0 30px rgba(255, 100, 0, 0.8);
      filter: brightness(1.2);
    }
    100% {
      text-shadow:
        0 0 5px rgba(255, 150, 0, 0.6),
        0 0 10px rgba(255, 100, 0, 0.4),
        0 0 15px rgba(255, 80, 0, 0.8);
      filter: brightness(1);
    }
  }
}

.search-bar {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.search-bar input {
  padding: 5px;
  margin-right: 5px;
}

.search-bar button {
  padding: 5px 10px;
}
