.publish-container {
  max-width: 50%;
  margin: 5rem auto;
  padding: 20px;
  background-color: #fbc87e;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.publish-container h2 {
  text-align: center;
  color: #333;
  margin: 2rem auto;
  font-size: 2.1em;
}

.publish-form {
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 15px;
}

label {
  font-weight: bold;
  margin-bottom: 5px;
  color: #333;
  display: block;
}

.image-upload {
  text-align: center;
}

input[type="text"],
textarea {
  width: calc(100% - 20px);
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  box-sizing: border-box;
}

input[type="file"] {
  margin-top: 10px;
}

input::placeholder,
textarea::placeholder {
  color: #999;
  opacity: 1;
  font-size: 14px;
}

.publish-type-options {
  display: flex;
  justify-content: space-around;
}

.publish-type {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.publish-type-button {
  background: none;
  border: none;
  cursor: pointer;
}

.publish-type.selected {
  background-color: #4caf50;
  color: white;
}

.publish-type p {
  color: black;
  margin: 5px 0 0;
}

.publish-container button {
  padding: 10px;
  width: 10rem;
  margin: 0 auto;
  border: none;
  border-radius: 4px;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.publish-container .btn-publish {
  background-color: #532f00;
}

.publish-container button:active {
  transform: scale(1.03);
}

.icon {
  width: 100px;
  height: auto;
}

.publish-type p {
  font-weight: bold;
  font-size: 1.8em;
}

.genre-suggestions {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.genre-suggestions li {
  margin: 5px 0;
}

.selected-genres {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.selected-genre {
  background-color: #532f00;
  color: #fff;
  font-weight: bold;
  font-family: var(--lorem-font);
  border-radius: 15px;
  padding: 5px 10px;
  display: flex;
  align-items: center;
}

.remove-genre-icon {
  cursor: pointer;
  margin-left: 8px;
}
